@media (max-width: 1000px) {

    .friends__btn {
        padding: 5px 20px;
    }

}

@media (max-width: 828px) {

    .container {
        max-width: 768px;
        padding-right: 30px;
        padding-left: 30px;
    }


    /* FRIENDS */

    .friends__container {
        padding-bottom: 77px;
    }

    .friends__title {
        margin-bottom: 29px;
    }

    .friends__list {
        display: grid;
        gap: 30px 40px;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        width: 580px;
        margin-left: auto;
        margin-right: auto;
    }

    .friends__item,
    .friends__item:not(:nth-child(4n)) {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 0;
    }

    .friends__item:nth-child(7),
    .friends__item:nth-child(8) {
        display: none;
    }

    .friends__btn {
        padding: 15px 45px;
    }


    /* FOOTER */

    .footer__container {
        padding-top: 31px;
        padding-right: 69px;
        padding-bottom: 358px;
        padding-left: 65px;
        background-position: bottom center;
        background-size: 300px 310px;
    }

    .footer__left {
        margin-right: auto;
    }

    .footer__address {
        padding-left: 49px;
    }

}

@media (max-width: 768px) {

    .burger {
        display: block;
        z-index: 2;
        transition: transform var(--time) ease-in-out;
        margin-left: auto;
    }

    .burger svg line {
        transition: stroke var(--time) ease-in-out;
    }

    .burger.active svg line {
        stroke: var(--color-primary);
    }

    .nav__list {
        display: none;
    }

    .header__logo-name,
    .header__logo-descr {
        transition: color var(--time) ease-in-out;
    }

    .header__logo-name.active a {
        color: var(--color-primary);
    }

    .header__logo-descr.active {
        color: white;
    }

    /* BURGER MENU */

    .burger-menu {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        background-color: var(--color-dark-3xl);
        height: 100vh;
        width: 320px;
        padding-top: 158px;
        z-index: 1;
        transition-property: opacity, visibility;
        transition-duration: var(--time);
        transition-timing-function: ease-in-out;
    }

/*    .burger-menu::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100vw;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 9;
    }*/

    .burger-menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger-menu__item {
        color: var(--color-dark-s);
        font-family: Arial;
        font-size: 32px;
        line-height: 1.2;
        border-bottom: 3px solid transparent;
        transition-property: color, border-color;
        transition-duration: var(--time);
        transition-timing-function: ease-in-out;
    }

    .burger-menu__item:not(:last-child) {
        margin-bottom: 43px;
    }

    .burger-menu__item:hover {
        color: white;
        border-color: var(--color-primary);
    }

    .burger.active {
        transform: rotate(-90deg);
    }

    .burger-menu.active {
        visibility: visible;
        opacity: 1;
        display: block;
    }


}


/* @media (max-width: 340px) { */
@media (max-width: 650px) {

    .container {
        max-width: 320px;
        padding-right: 10px;
        padding-left: 10px;
    }

    .header__container {
        max-width: 100%;
    }

    .title-2 {
        font-size: 25px;
        line-height: 32px;
    }


    /* HEADER */

    .header__container {
        margin-left: 0;
        justify-content: space-between;
    }

    .header__logo {
        z-index: 2;
    }

    .burger {
        display: block;
        z-index: 2;
        transition: transform var(--time) ease-in-out;
        margin-left: auto;
    }

    .burger svg line {
        transition: stroke var(--time) ease-in-out;
    }

    .burger.active svg line {
        stroke: var(--color-primary);
    }

    .nav__list {
        display: none;
    }

    .header__logo-name,
    .header__logo-descr {
        transition: color var(--time) ease-in-out;
    }

    .header__logo-name.active a {
        color: var(--color-primary);
    }

    .header__logo-descr.active {
        color: white;
    }

    /* BURGER MENU */

    .burger-menu {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        background-color: var(--color-dark-3xl);
        height: 100vh;
        padding-top: 158px;
        z-index: 1;
        transition-property: opacity, visibility;
        transition-duration: var(--time);
        transition-timing-function: ease-in-out;
    }

    .burger-menu__list {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .burger-menu__item {
        color: var(--color-dark-s);
        font-family: Arial;
        font-size: 32px;
        line-height: 1.2;
        border-bottom: 3px solid transparent;
        transition-property: color, border-color;
        transition-duration: var(--time);
        transition-timing-function: ease-in-out;
    }

    .burger-menu__item:not(:last-child) {
        margin-bottom: 43px;
    }

    .burger-menu__item:hover {
        color: white;
        border-color: var(--color-primary);
    }

    .burger.active {
        transform: rotate(-90deg);
    }

    .burger-menu.active {
        visibility: visible;
        opacity: 1;
        display: block;
    }


    /* FRIENDS */

    .friends__container {
        padding-top: 42px;
        padding-bottom: 42px;
    }

    .friends__title {
        margin-bottom: 41px;
    }

    .friends__list {
        grid-template-columns: 1fr;
        width: auto;
        margin-bottom: 43px;
    }

    .friends__item {
        display: none;
    }

    .friends__item:nth-child(1),
    .friends__item:nth-child(2),
    .friends__item:nth-child(3) {
        display: block;
    }

    .pages {
        justify-content: space-between;
    }

    .pages__page {
        margin-left: 0;
        margin-right: 0;
    }


    /* FOOTER */

    .footer__container {
        flex-direction: column;
        padding-bottom: 299px;
        background-size: 260px;
    }

    .footer__left {
        align-items: center;
        margin-right: 0;
        min-height: 217px;
        margin-bottom: 30px;
    }

    .footer__title {
        text-align: center;
    }

    .footer__right {
        min-height: 232px;
    }

    .footer__address {
        padding-left: 42px;
    }

}